.container {
  padding: 10px 20px;
  display: flex;
  background-color: rgb(25, 36, 40);

  .left,
  .right {
    flex: 50%;
    display: flex;

    a {
      text-decoration: none;
      color: white;
    }
  }

  .right {
    justify-content: flex-end;
    a {
      margin-right: 10%;
      background-color: rgb(65, 76, 80);
      padding: 10px 20px;
      border-radius: 4px;
      margin-top: 5px;
    }
  }
}
